<a href="https://colab.research.google.com/github/wama-nigam/SentimentAnalysis/blob/main/Sentiment_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import nltk
from nltk.corpus import stopwords
import matplotlib.pyplot as plt
from nltk.tokenize import word_tokenize

In [ ]:
dataset = pd.read_csv("/content/amazon.csv")

In [ ]:
dataset.head()

,Unnamed: 0,reviewerName,overall,reviewText,reviewTime,day_diff,helpful_yes,helpful_no,total_vote,score_pos_neg_diff,score_average_rating,wilson_lower_bound
0,0,NaN,4,No issues.,23-07-2014,138,0,0,0,0,0.0,0.0
1,1,0mie,5,"Purchased this for my device, it worked as adv...",25-10-2013,409,0,0,0,0,0.0,0.0
2,2,1K3,4,it works as expected. I should have sprung for...,23-12-2012,715,0,0,0,0,0.0,0.0
3,3,1m2,5,This think has worked out great.Had a diff. br...,21-11-2013,382,0,0,0,0,0.0,0.0
4,4,2&amp;1/2Men,5,"Bought it with Retail Packaging, arrived legit...",13-07-2013,513,0,0,0,0,0.0,0.0

In [ ]:
dataset.shape

(4915, 12)

In [ ]:
dataset.isnull().sum()

Unnamed: 0              0
reviewerName            1
overall                 0
reviewText              1
reviewTime              0
day_diff                0
helpful_yes             0
helpful_no              0
total_vote              0
score_pos_neg_diff      0
score_average_rating    0
wilson_lower_bound      0
dtype: int64

In [ ]:
dataset["reviewText"].fillna("",inplace=True)

In [ ]:
dataset.isnull().sum()

Unnamed: 0              0
reviewerName            1
overall                 0
reviewText              0
reviewTime              0
day_diff                0
helpful_yes             0
helpful_no              0
total_vote              0
score_pos_neg_diff      0
score_average_rating    0
wilson_lower_bound      0
dtype: int64

In [ ]:
dataset = dataset[['overall','reviewText']]

In [ ]:
dataset.head()

   overall                                         reviewText
0        4                                         No issues.
1        5  Purchased this for my device, it worked as adv...
2        4  it works as expected. I should have sprung for...
3        5  This think has worked out great.Had a diff. br...
4        5  Bought it with Retail Packaging, arrived legit...

In [ ]:
def review(text):
    pos,neg,neu=0,0,0
    for i in text:
      if i>3:
        pos+=1
      elif i==3:
        neu+=1
      else:
        neg+=1
    print(pos,neg,neu)




p_rev = dataset[dataset['overall']>3]
n_rev = dataset[dataset['overall']<3]

p_rev = p_rev.sample(n=len(n_rev),random_state=3)

dataset = pd.concat([p_rev,n_rev],axis=0)

review(dataset['overall'].values)

324 324 0

In [ ]:
from nltk.stem.porter import PorterStemmer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
import re

In [ ]:
stem_words = PorterStemmer()

In [ ]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [ ]:
def stemming_function(text):
  stem_text = re.sub('[^a-zA-Z]',' ', text)
  stem_text = stem_text.lower()
  stem_text = stem_text.split()
  stem_text = [stem_words.stem(w) for w in stem_text if w not in stopwords.words('english')]
  stem_text = " ".join(stem_text)
  return stem_text

In [ ]:
dataset['reviewText'] = dataset['reviewText'].apply(stemming_function)

In [ ]:
dataset.head()

      overall                                         reviewText
918         5  take lot pic phone samsung help free space pho...
4452        4  work fine photo shoot video record eo camera s...
3610        5  heavi music listen sandisk ultra reliabl stora...
4138        5          camera video record use cool nice funtion
2316        5  use link web cam fast read write reliabl sandi...

In [ ]:
label=[]
for i in dataset['overall'].values:
  if i>=3:
    label.append(1)
  else:
    label.append(0)
print(label)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [ ]:
dataset['label'] =label
dataset = dataset.drop(['overall'],axis=1)
dataset.head()

                                             reviewText  label
918   take lot pic phone samsung help free space pho...      1
4452  work fine photo shoot video record eo camera s...      1
3610  heavi music listen sandisk ultra reliabl stora...      1
4138          camera video record use cool nice funtion      1
2316  use link web cam fast read write reliabl sandi...      1

In [ ]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to /root/nltk_data...

True

In [ ]:
df = pd.read_csv('/content/amazon.csv')

In [ ]:
df = df[['overall','reviewText']]
df["reviewText"].fillna("",inplace=True)

In [ ]:
df['reviewText'] = df['reviewText'].apply(stemming_function)

In [ ]:
def sentimentA(text):
  score = SentimentIntensityAnalyzer().polarity_scores(text)
  #print(score)
  neg = score['neg']
  pos = score['pos']
  if neg>pos:
    return 'Negative'
  if pos>neg:
    return 'Positive'

In [ ]:
sentiment=[]

for text in df['reviewText']:
  sentiment.append(sentimentA(text))

In [ ]:
label=[]
for i in df['overall'].values:
  if i>=3:
    label.append(1)

  else:
    label.append(0)
#print(label)

In [ ]:
df['label']=label
df['sentiment'] = sentiment

In [ ]:
df = df.drop(['overall'],axis=1)

In [ ]:
df.head()

                                          reviewText  label sentiment
0                                               issu      1      None
1  purchas devic work advertis never much phone m...      1      None
2  work expect sprung higher capac think made bit...      1  Positive
3  think work great diff bran gb card went south ...      1  Positive
4  bought retail packag arriv legit orang envelop...      1  Positive

In [ ]:
X = dataset['reviewText'].values
Y = dataset['label'].values

In [ ]:
vector = TfidfVectorizer()
vector.fit(X)
X = vector.transform(X)

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, stratify=Y, random_state=2)

In [ ]:
model = LogisticRegression()

In [ ]:
model.fit(X_train,Y_train)

LogisticRegression()

In [ ]:
X_train_predict = model.predict(X_train)

In [ ]:
Xtrain_acc = accuracy_score(X_train_predict, Y_train)
print(Xtrain_acc)

0.974903474903475

In [ ]:
X_test_predict = model.predict(X_test)

In [ ]:
Xtest_acc = accuracy_score(X_test_predict, Y_test)
print(Xtest_acc)

0.9615384615384616